Gabber.userprefs
packages/*
Gabber/packages/*
*.DS_Store
Gabber/bin/*
Gabber/obj/*
Gabber/Resources/Resource.designer.cs
GabberPCL/bin/*
GabberPCL/obj/*
GabberPCL/Resources/Resource.designer.cs
Gabber/*.sln
Gabber/*.csproj
Gabber/*.userprefs
*.swp
*/bin/*
*/obj/*
.vs/*
Gabber.iOS/scripts/FirebaseCrashReporting/*
Gabber.iOS/service-account.json
Gabber.iOS/xamarin_upload_symbols.sh
Gabber.iOS/GoogleService-Info.plist
